[Unit]
Description=Atomix Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/bin/atomix
WorkingDirectory=/etc/atomix

[Install]
WantedBy=multi-user.target